.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home-team-container {
  height: 500;
  width: 500;
  margin-left: 20%;
  float: left;
}

.league-and-date-container {
  height: 100;
  width: 100;
  margin-top: 5%;
}

.match-date {
  font-size: 16px;
}

.versus {
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
}

.versus-small {
  font-style: italic;
  font-weight: bolder;
  font-size: 15px;
  float: top;
}

.versus-dash {
  font-style: italic;
  font-weight: bolder;
  font-size: 12px;
  float: top;
}

.odds-green {
  font-weight: 300;
  font-size: 20px;
  color: green;
}

.odds-red {
  font-weight: 300;
  font-size: 20px;
  color: red;
}

.odds-label {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

.team-info {
  font-weight: bold;
  font-size: 25px;
}

.team-record {
  font-weight: 250;
  font-size: 20px;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.vertical-divider {
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid lightgrey;
}

.league-info-label {
  font-weight: 400;
  font-size: 15px;
  float: right;
}

.search-info-label {
  font-weight: 400;
  font-size: 15px;
}

.search-info-value-green {
  font-weight: 250;
  font-size: 15px;
  margin-left: 1%;
  color: green;
}

.search-info-value-red {
  font-weight: 250;
  font-size: 15px;
  margin-left: 1%;
  color: red;
}

.search-info-row-container, .parenthesis, .row-input-field {
  padding: 0;
  height: 0;
}

.row-input-field-bottom {
  padding: 0;
}

.league-label-container {
  font-weight: bold;
  font-size: 15px;
  border-left: 1px solid lightgray;
  float: right;
}

.league-info-value-container {
  font-weight: light;
  font-size: 15px;
  float: left;
}

.league-info-value {
  font-weight: 250;
  font-size: 15px;
  float: left;
  margin-left: 3%;
}

.sub-title {
  font-weight: 200;
  font-size: 33px;
}

.sub-title-show-match {
  font-weight: 200;
  font-size: 30px;
}

.sub-title-show-match-wager {
  font-weight: 200;
  font-size: 25px;
}

.create-league-checkbox-container {
  float: center;
}

.winner-label {
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  float: right;
}

.gold-diff {
  float: left;
  font-style: italic;
  font-size: 30px;
  margin-left: 15%;
  margin-top: 1%;
}

.search-title {
  float: right;
}

.dash-sub-title {
  font-weight: 250;
  font-size: 28px;
}

.dash-table {
  font-size: 14px;
  font-weight: 250;
}

.dash-table-center {
  font-size: 14px;
  font-weight: 250;
}

.dash-text-container {
  height: 0;
  padding: 0;
  font-weight: 225;
  font-size: 20px;
  color: black
}

.dash-info-text {
  height: 0;
  padding: 0;
  font-weight: 200;
  font-size: 20px;
  color: black;
}

.header-text {
  font-weight: 300;
}

.dash-info-value-green {
  font-weight: 250;
  font-size: 14px;
  color: green;
}

.dash-info-value-red {
  font-weight: 250;
  font-size: 14px;
  color: red;
}

.dash-spread-label {
  font-weight: 375;
  font-size: 12px;
}

.dash-spread-value-green {
  font-weight: 250;
  font-size: 12px;
  color: green;
}

.dash-spread-value-red {
  font-weight: 250;
  font-size: 12px;
  color: red;
}

.dash-table-container {
  border-left: 1px solid lightgray;
  height: 60vh;
}

.dash-link {
  color: black;
}

.dash-link:hover {
  color: rgb(54, 173, 247);
}

.dash-league-name {
  font-size: 12px;
}

.dash-row {
  line-height: 12px;
}

.long-table tbody {
  display: block;
  table-layout: fixed;
  height: 50vh;
  overflow: auto;
  overflow-x: hidden;
  font-weight: 250;
}

.long-table thead, tbody, tr {
  display: table;
  width: 100%;
  font-weight: 250;
  table-layout: fixed;
}

.long-table thead {
  width: calc (100%-1em);
  font-weight: 250;
}

.long-table table {
  width: 1000px;
}

.long-table-wager tbody {
  display: block;
  height: 70vh;
  overflow: auto;
  font-weight: 250;
}

.nostra-button {
  color: white;
  background-color: rgb(64, 191, 241);
}

.nostra-button:hover {
  color: white;
  background-color: rgb(54, 173, 247);
}

.nostra-button-unfollow {
  color: darkgray;
  background-color: rgb(246, 249, 250);
}

.nostra-button-unfollow:hover {
  color: white;
  background-color: rgb(241, 92, 92);
}

.nostra-nav:active {
  color: black;
  background-color: white;
}

.available-funds {
  font-size: 15px;
  font-weight: 250;
  float: left;
  height: 0%;
}

.wager-info-container {
  height: 20px;
}

.wager-submit-button {
  padding-top: 0;
}

.search-match-img {
  display: inline-table;
  max-width:40px;
  max-height:40px;
  width: auto;
  height: auto;
}

.search-match-tournament-img {
  display: inline-table;
  max-width:65px;
  max-height:40px;
  width: auto;
  height: auto;
}

.show-match-tournament-img {
  display: inline-table;
  max-width:200px;
  max-height:110px;
  width: auto;
  height: auto;
}

.show-match-img {
  display: inline-table;
  max-width:250px;
  max-height:200px;
  width: auto;
  height: auto;
}

.show-match-winner-img {
  display: inline-table;
  max-width:100px;
  max-height:75px;
  width: auto;
  height: auto;
}

.dash-match-img {
  display: inline-table;
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
}

.dash-tournament-img {
  display: inline-table;
  max-width:45px;
  max-height:25px;
  width: auto;
  height: auto;
}

.dash-match-tournament-img {
  display: inline-table;
  max-width:55px;
  max-height:35px;
  width: auto;
  height: auto;
}

.username-header {
  font-size: 30px;
  font-weight: 350;
  float: center;
}

.user-status {
  font-size: 15px;
  float: center;
  font-weight: 325;
  text-align: left;
}

.profile-info-container {
  border-right: 1px solid lightgrey;
  width: 200px;
  height: auto;
}

.profile-sub-title {
  font-weight: 250;
  font-size: 22px;
}

.dash-sub-title {
  font-weight: 250;
  font-size: 28px;
}

.profile-team-img {
  display: inline-table;
  max-width:175px;
  max-height:175px;
  width: auto;
  height: auto;
  padding: 0;
  float: top;
}

.tournament-landing-img {
  display: inline-table;
  max-width:350px;
  max-height:175px;
  width: auto;
  height: auto;
}

.landing-row1-img {
  display: inline-table;
  max-width:125px;
  max-height:125px;
  width: auto;
  height: auto;
}

.landing-row2-img {
  display: inline-table;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
  opacity: 0.7;
}

.landing-row3-img {
  display: inline-table;
  max-width:80px;
  max-height:80px;
  width: auto;
  height: auto;
  opacity: 0.5;
}

.landing-row4-img {
  display: inline-table;
  max-width:70px;
  max-height:70px;
  width: auto;
  height: auto;
  opacity: 0.3;
}

.landing-table-container {
  border-left: 1px solid lightgray;
  height: auto;
}

.landing-header {
  font-size: 50px;
  font-weight: 300;
}

.landing-sub-header {
  font-size: 25px;
  font-weight: 300;
}

.tournament-landing-header {
  height:175px;
}

.info-row {
  height: 20px;
}

.info-link {
  font-size: 10px;
}

.info-title-row {
  height: 120px;
}

.info-header {
  font-size: 40px;
  font-weight: 300;
  text-decoration: underline;
}

.info-sub-header {
  font-size: 20px;
  font-weight: 300;
}

.info-section-title {
  font-size: 28px;
  font-weight: 300;
  text-decoration: underline;
}

.info-section-text {
  font-size: 18px;
  font-weight: 300;
}

.info-example-img {
  display: inline-table;
  max-width:600px;
  max-height:600px;
  width: auto;
  height: auto;
}

.dash-league-link { 
  color: darkgray;
  font-size: 15px;
}

.dash-league-link:hover {
  color: rgb(54, 173, 247);
}

.settings-dash {
  float: right;
  position: absolute;
}

.update-section {
  padding-top: 90px;
}

.my-wagers-sub-header {
  font-weight: 300;
  font-size: 20px;
}

.wager-win-row {
  background-color: rgb(241, 255, 241);
}

.wager-lose-row {
  background-color: rgb(253, 242, 244);
}

.sidenav-header {
  font-weight: 300;
  font-size: 28px;
}

.sidenav-item {
  font-weight: 250;
  font-size: 18px;
}

.rankings-header {
  font-size: 40px;
  font-weight: 500;
}

.rankings-sub-header {
  font-size: 20px;
  font-weight: 300;
}

.rankings-sub-header-1 {
  font-size: 16px;
  font-weight: 300;
}

.rankings-week-title {
  font-size: 30px;
  font-weight: 450;
  font-style: italic;
  text-align: left;
}

.rankings-week-selector {
  font-size: 20px;
  font-weight: 300;
  text-align: right;
}

.rankings-section-title {
  font-size: 28px;
  font-weight: 300;
  padding-left: 15px;
}

.rankings-section-sub-title {
  font-size: 22px;
  font-weight: 300;
  padding-left: 30px;
}

.rankings-section-text {
  font-size: 18px;
  font-weight: 300;
  padding-left: 40px;
  text-align: justify;
}

.rankings-logo-img {
  vertical-align: middle;
  display: inline-block;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
}

.rankings-week-header-row {
  padding-top: 20px;
  height: 35px;
}

.rankings-title-row {
  height: 190px;
}

.rankings-title-row-2 {
  height: 170px;
}
