.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home-team-container {
  height: 500;
  width: 500;
  margin-left: 20%;
  float: left;
}

.versus-container {
  height: 100;
  width: 100;
}

.league-and-date-container {
  height: 100;
  width: 100;
  margin-top: 5%;
}

.match-date {
  font-size: 16px;
}

.versus {
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
}

.versus-small {
  font-style: italic;
  font-weight: bolder;
  font-size: 15px;
  float: top;
}

.odds-green {
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.odds-red {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.odds-label {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.team-info {
  font-weight: bold;
  font-size: 25px;
}

.team-record {
  font-weight: lighter;
  font-size: 20px;
}

.odds-container {
  height: 500;
  width: 500;
  margin-left: 20%;
}

.vertical-divider {
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid lightgrey;
}

.league-info-label {
  font-weight: bold;
  font-size: 15px;
  float: right;
}

.search-info-label {
  font-weight: bold;
  font-size: 15px;
}

.search-info-value-green {
  font-weight: lighter;
  font-size: 15px;
  margin-left: 1%;
  color: green;
}

.search-info-value-red {
  font-weight: lighter;
  font-size: 15px;
  margin-left: 1%;
  color: red;
}

.search-info-row-container, .parenthesis, .row-input-field {
  padding: 0;
  height: 0;
}

.row-input-field-bottom {
  padding: 0;
}

.league-label-container {
  font-weight: bold;
  font-size: 15px;
  border-left: 1px solid lightgray;
  float: right;
}

.league-info-value-container {
  font-weight: light;
  font-size: 15px;
  float: left;
}

.league-info-value {
  font-weight: lighter;
  font-size: 15px;
  float: left;
  margin-left: 3%;
}

.sub-title {
  font-weight: lighter;
  font-size: 33px;
}

.sub-title-show-match {
  font-weight: light;
  font-size: 30px;
}

.create-league-checkbox-container {
  float: center;
}

.winner-label {
  font-weight: bolder;
  font-size: 40px;
  float: right;
}

.winner-image {
  float: left;
}

.gold-diff {
  float: left;
  font-style: italic;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 1%;
}

.search-title {
  float: right;
}

.dash-sub-title {
  font-weight: lighter;
  font-size: 28px;
}

.dash-table {
  font-size: 14px;
  font-weight: lighter;
}

.dash-table-center {
  font-size: 14px;
  font-weight: lighter;
}

.dash-text-container {
  height: 0;
  padding: 0;
}

.dash-info-label {
  font-weight: bold;
  font-size: 13px;
}

.dash-info-value-green {
  font-weight: lighter;
  font-size: 14px;
  color: green;
}

.dash-info-value-red {
  font-weight: lighter;
  font-size: 14px;
  color: red;
}

.dash-table-container {
  border-left: 1px solid lightgray;
  height: 500px;
}

.dash-link {
  color: black;
}

.dash-link:hover {
  color: lightblue;
}

.dash-league-name {
  font-size: 12px;
}

.dash-row {
  line-height: 12px;
}